@media (max-width: 1359px) {
  #responsive-menu-button {
    display: none;
  }
}
@media (max-width: 1199px) {
  .message-for-editor-section img {
    height: auto;
    width: 100%;
  }
  .footer-container button {
    font-size: 16px;
  }
  .footer-container .outer-phone .inner-phone p {
    font-size: 26px;
  }
  .footer-container .outer-phone .inner-phone img {
    height: 40px;
  }
  .footer-container .donate .heart {
    width: 70px;
    height: 45px;
  }
}
@media (max-width: 767px) {
  .message-for-editor-section p {
    font-size: 1rem;
  }
  .footer-container button {
    font-size: 14px;
  }
  .footer-container .donate .heart {
    width: 65px;
  }
}
@media (max-width: 575px) {
  #responsive-menu-button {
    display: block;
    background: black;
    border: none;
    padding: 0;
    border-radius: 60px;
    margin: 0;
    position: absolute;
    overflow: hidden;
    width: 80px;
    height: 80px;
    overflow: auto;
    top: 100px;
    left: 15px;
    cursor: pointer;
    z-index: 20;
    transition: top 0.3s ease;
  }
  #responsive-menu-button img {
    height: auto;
  }
  .fixed-menu-button {
    position: fixed;
    top: 40px;
    left: 15px;
  }
  .message-for-editor-section p {
    font-size: 0.8rem;
  }
  .footer-container button {
    font-size: 12px;
  }
  .footer-container .donate .heart {
    width: 55px;
  }
}
@media (min-width: 1390px) {
  /* change this, by default 1140px */
  .container {
    max-width: 1360px;
  }
}