@import 'variables';
@charset "utf-8";

// resettting classes
html,
body,
div,
span,
applet,
object,
iframe,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
// End of reset classes

// defaults
div:focus {
  outline: none;
}
a,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

textarea,
select,
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  border: none;
  text-align: left;
  font-size: 1em;
  vertical-align: middle;
  padding: 10px 15px;
  margin-bottom: 12px;
}
input,
textarea {
  box-shadow: none !important;
  border-radius: 0;
}
input:focus,
textarea:focus,
select:focus,
option:focus {
  outline: none;
}
p {
  margin-bottom: 15px;
}
body {
  color: $text_black;
  font-family: $ar-regular;
  background-color: #141213;
  overflow: auto;
  overflow-x: hidden !important;
}
body.hide_scroll {
  padding-right: 17px;
  overflow: hidden !important;
}
// END of resettting classes

// Helper Classes
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.clear {
  clear: both;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase !important;
}
.posrel {
  position: relative;
}
.posabs {
  position: absolute;
}
.mar0auto {
  margin: 0 auto;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}
.text_main_color {
  color: $main_color;
}

// end
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::-moz-selection {
  /* Code for Firefox */
  color: $text_black;
  background: $main_color;
}
::selection {
  color: $text_black;
  background: $main_color;
}

:focus {
  outline: none !important;
}

@-webkit-keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1.15);
  }
  30% {
    transform: scale(1.8);
  }
  45% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fa-beat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.25);
  }
  20% {
    transform: scale(1.15);
  }
  30% {
    transform: scale(1.8);
  }
  45% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation: fa-beat 1.2s ease infinite;
  display: inline-block;
  padding: 0px 5px 0px 4px;
  color: $sec_color;
}

.swiper-button-prev:after, .swiper-button-next:after {
  color: #fff;
}

.swiper-pagination-bullet-active {
  background: #fff;
}
// general class (reusable)
.en-regular{
  font-family: $en-regular;
}
.en-bold{
  font-family: $en-bold;
}
.ar-regular{
  font-family: $ar-regular;
}
.ar-bold{
  font-family: $ar-bold;
}
.home-video-header-container {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 150px);
  font-family: $en-regular;
  .video-container {
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    .video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .header-button-container-with-video {
      position: absolute;
      bottom: 35px;
      margin: 0 25px;
      width: -moz-available;
      width: -webkit-fill-available;
      .en{
        font-family: $en-regular;
        text-transform: uppercase;
      }
      .ar{
        font-family: $ar-regular;
      }
      p{
        font-size: 1.2rem;
        margin-bottom: 0;
        color: white;
        text-align: center;
      }
      .bg-black{
        border-radius: 15px;
        background-color: #000;
        width: 100%;
        padding: 0 1.5rem;
      }
      a {
        width: 100%;
        opacity: 1;
        transition: 0.3s ease-in-out;
      }
      a:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
      img {
        opacity: 1;
        transition: 0.3s ease-in-out;
      }

      img:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
    }
  }
}

.header-button-container-without-video {
  background: #fff;
  padding: 25px;
  .en{
    font-family: $en-regular;
    text-transform: uppercase;
  }
  .ar{
    font-family: $ar-regular;
  }
  p{
    font-size: 1.2rem;
    margin-bottom: 0;
    color: white;
    text-align: center;
  }
  .bg-black{
    border-radius: 15px;
    background-color: #000;
  }
  a {
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
  a:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
  img {
    opacity: 1;
    transition: 0.3s ease-in-out;
  }

  img:hover {
    opacity: 0.8;
    transition: 0.3s;
  }
}

.single-featured-article-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #131313;
  font-family: $en-regular;

  a {
    line-height: 0;
    font-family: $ar-regular;
    img {
      width: 100%;
      filter: grayscale(100%);
      transition: 0.3s;
    }
  }

  .right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .categories {
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: flex-end;

      .category {
        padding: 2px 6px;
        border-radius: 12px;
        color: #000;
        background-color: #f0eaea;
      }
    }

    .title {
      color: #fff;
      font-size: 3rem;
      line-height: 1.2;
    }

    .author-tags {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #fff;
      font-size: 1.5rem;
    }
  }
}

.single-featured-article-container:hover {
  img {
    filter: grayscale(0);
    transition: 0.3s;
  }
}

.youtube-playlist-bg {
  background-color: #3a1dd9;
  font-family: $en-regular;
  h3{
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
  }
  .ar-regular, .ar-bold{
    text-align: right;
  }
  .en-regular, .en-bold{
    text-align: left;
  }
  p{
    color: #fff;
    font-size: 2rem;
  }
  .youtube-playlist-button-col {
    align-content: center;

    .youtube_featured_image {
      width: 100%;
      padding: 12px 0;
      border-radius: 66px;
    }

    .youtube-playlist-btn {
      opacity: 1;
      transition: 0.3s ease-in-out;
    }

    .youtube-playlist-btn:hover {
      opacity: 0.8;
      transition: 0.3s;
    }
    p{
      margin-bottom: 0;
      font-size: 2.5rem;
      color: #fff;
    }
    .bg-black{
      border-radius: 15px;
      background-color: #000;
      width: fit-content;
      padding: 0 1.5rem;
      p{
        margin-bottom: 0;
        font-size: 1.2rem;
        text-align: center;
      }
    }
  }
}

.youtube-featured-vids-bg {
  background-color: #000;
  font-family: $en-regular;

  .youtube-featured-videos-row {
    padding: 25px;
    color: #fff;
    font-size: 1.4em;

    .youtube-featured-vid-button-col {
      align-content: center;

      .youtube-featured-video-thumbnail {
        padding: 10px 0;
        border-radius: 25px;
        opacity: 1;
        transition: 0.3s ease-in-out;
      }

      .youtube-featured-video-thumbnail:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
    }

    .youtube-featured-vid-texts-col {
      align-content: space-around;

      p {
        margin-bottom: 50px;
      }
    }
  }
}

.special-productions {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.special-productions:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.author-swiper-container {
  background-color: #131313;
  color: #fff;
  text-align: center;

  .swiper-slide {
    opacity: 1;
    transition: 0.3s ease-in-out;

    .author-image {
      display: inline-block;
      max-width: 240px;
      height: 100%;
      border-radius: 100%;
      border: 5px solid #ED4101;

      img {
        display: block;
        border-radius: 100%;
        transition: filter 0.1s ease;
      }
    }
  }

  .swiper-slide:hover {
    opacity: 0.8;
    transition: 0.3s;

    .author-image {
      img {
        filter: sepia(0.45) hue-rotate(-48deg) saturate(16) brightness(2);
      }
    }
  }

  .custom-swiper-button-prev,
  .custom-swiper-button-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    img {
      opacity: 1;
      transition: 0.3s ease-in-out;
    }

    img:hover {
      opacity: 0.8;
      transition: 0.3s;
    }
  }

  .custom-swiper-button-prev {
    left: 10px;
  }

  .custom-swiper-button-next {
    right: 10px;
  }
}

//footer
.footer-container {
  background-color: $bg_black;
  font-family: $en-regular;
  button {
    padding: 1rem 0.8rem;
    border: 2px solid $sec_color;
    width: 100%;
    font-size: 20px;
    color: $sec_color;
    background-color: $bg_black;
    border-radius: 35px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
  }
  button:hover{
    background-color: $sec_color;
    color: $bg_black;
  }
  .custom-rotate {
    display: flex;
    gap: 10px;
    button {
      padding: 1rem 0.8rem;
      border: 2px solid $sec_color;
      width: 100%;
      font-size: 20px;
      color: $sec_color;
      background-color: $bg_black;
      border-radius: 35px;
      text-align: left;
      text-transform: uppercase;
      cursor: pointer;
      writing-mode: vertical-lr; /* Makes text vertical */
      width: fit-content;
      height: 23rem;
    }
    button:hover{
      background-color: $sec_color;
      color: $bg_black;
    }
  }
  .full {
    background-color: $sec_color !important;
    color: #000 !important;
    writing-mode: horizontal-tb;
  }
  .full:hover{
    background-color: $bg_black !important;
    color: $sec_color !important;
  }
  .custom-width {
    width: 13rem;
    margin-left: 6px;
  }
  .donate {
    position: relative;
    .heart {
      width: 85px;
      height: 50px;
      position: absolute;
      bottom: -40%;
    }
  }
  .outer-phone{
    .inner-phone{
      position: absolute;
      top: 14%;
      z-index: 3;
      p{
        font-size: 35px;
        color: $sec_color;
        text-align: center;
      }
      img{
        height: 55px;
        margin-bottom: 15px;
      }
    }
  }
}

// three featured articles block
.three-featured-articles-block-container {
  display: block;
  color: #000;

  .article-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: #bebebe;
    z-index: 2;

    img {
      display: block;
      width: 100%;
      transition: transform 0.3s ease, opacity 0.3s ease;
      filter: grayscale(100%);
    }

    .hover-text {
      position: absolute;
      opacity: 0;
      text-align: center;
      line-height: 1.3;
      font-size: 1.2rem;
      margin-top: -8px;
      z-index: 3;
      transition: all 0.3s ease;
      filter: grayscale(100%);
      padding: 10px 10px;
      padding-bottom: 0px;
    }

    &:hover {
      z-index: 4;
      img {
        transform: scale(1.2);
        z-index: 2;
        filter: grayscale(0);
      }

      .hover-text {
        background-color: #bebebe;
        transform: scale(1.2);
        filter: grayscale(0);
        opacity: 1;
      }
    }
  }

  // .article-container {
  //   background-color: #bebebe;
  //   cursor: pointer;
  //   position: relative;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   height: auto;
  //   overflow: hidden;

  //   img {
  //       width: 100%;
  //       height: auto;
  //       display: block;
  //       transition: transform 0.3s ease;
  //       filter: grayscale(100%);
  //   }

  //   .hover-text {
  //       opacity: 0;
  //       transform: translateY(10px);
  //       transition: all 0.3s ease;
  //       font-size: 16px;
  //       color: #333;
  //       text-align: center;
  //       margin-top: 10px;
  //   }

  //   &:hover {
  //     height: auto;

  //       img {
  //           transform: scale(1.05);
  //           filter: grayscale(0);
  //       }

  //       .hover-text {
  //           opacity: 1;
  //           transform: translateY(0);
  //       }
  //   }
  // }
}

// contact us block
.contact-us-section, .contact-us-section-light {
  background-color: #171717;
  font-family: $en-bold;
  color: #fff;
  input,
  textarea,
  label,
  .select2 {
    font-family: $en-bold;
    background-color: #171717;
    width: 100% !important;
    border-radius: 35px;
    border: 2px solid #ec4100;
    font-size: 1.2rem;
    padding: 1rem 0.8rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #fff;
  }
  label {
    width: 330px !important;
    margin-right: 15px !important;
  }
  .select2-search__field{
    margin-top: 8px !important;
  }
  .select2-search.select2-search--inline{
    line-height: 1 !important;
  }
  input::placeholder {
    color: #fff;
  }
  .custom-text-size-for-placeholder {
    textarea::placeholder {
      font-size: 4rem;
      color: white; /* White text for placeholder */
      opacity: 1; /* Ensure placeholder is visible */
      font-weight: bold; /* Bold text for placeholder */
      text-transform: uppercase; /* Uppercase letters */
      line-height: 1.2; /* Adjust line height for spacing */
      white-space: pre-wrap; /* Preserve line breaks in placeholder */
    }
  }
  .select2-results{
    margin: 0 15px !important;
  }
  .select-language {
    select {
      width: 100%;
      padding: 10px;
      font-size: 1em;
      border: 2px solid #ff5722;
      border-radius: 5px;
    }
    select[multiple] {
      height: auto;
      min-height: 50px;
    }
    .select2-selection {
      background: none;
      border: none;
      color: white;
      padding: 0;
    }
    .select2-selection__clear {
      display: none;
    }
    .select2-selection__choice {
      background-color: #ff5722;
      border: none;
      border-radius: 10px;
    }
    .select2-selection__choice {
      border: none !important;
    }
    .select2-container.select2-container--default.select2-container--below {
      margin: 0 10px !important;
    }
    .select2-dropdown--below{
      border: none !important;
      background-color: transparent !important;
    }
  }
  .select2-container--default
    .select2-selection--multiple
    .select2-selection__choice__remove {
    border: none !important;
  }
  .submit-button {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
  }
  .select2-search .select2-search__field{
    font-family: $en-bold !important;
    color: #fff;
  }
}
.contact-us-section-light{
  background-color: #e3e1e2 !important;
  color: #000 !important;
  input,
  textarea,
  label,
  .select2 {
    color: #000 !important;
    background-color: #e3e1e2 !important;
  }
  .select2-selection {
    color: #000 !important;
  }
  input::placeholder {
    color: #000 !important;
  }
  .select2-search .select2-search__field{
    color: #000 !important;
  }
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
  background-color: #ec4100 !important;
}
.select2-container--default .select2-results>.select2-results__options{
  background-color: #e3e1e2 !important;
  font-family: $en-bold !important;
  li:nth-child(2){
    font-family: $ar-bold !important;
  }
}
// author block section
.author-block-container {
  color: #ec4100;

  .single-author-col {
    display: flex;
    justify-content: center;

    .single-author-container {
      display: inline-block;
      text-align: center;
      opacity: 1;
      transition: 0.3s ease-in-out;

      .author-image {
        display: inline-block;
        max-width: 240px;
        border-radius: 100%;
        border: 5px solid #ED4101;

        img {
          display: block;
          border-radius: 100%;
          transition: filter 0.1s ease;
        }
      }

      p {
        margin: 0;
      }
    }

    .single-author-container:hover {
      opacity: 0.8;
      transition: 0.3s;

      .author-image {
        img {
          filter: sepia(0.45) hue-rotate(-48deg) saturate(16) brightness(2);
        }
      }
    }
  }
}

// message-for-editor-section
.message-for-editor-section {
  .container-fluid {
    background-color: #ec4100;
    p {
      color: #fff;
      font-size: 1.2rem;
      margin-bottom: 0;
    }
    .ar {
      text-align: right;
    }
    .en {
      text-align: left;
    }
    img {
      border-radius: 100%;
      border: 6px solid #000;
      width: 300px;
      height: 300px;
      mix-blend-mode: luminosity;
      background-color: rgba(236, 164, 165, 0.5); /* Overlay color */
    }
  }
}
// single-author-article-swiper-section
.single-author-article-swiper-section{
  color: #fff;
  .single-red-border{
    border: 4px solid #621A01;
    border-radius: 20px;
  }
  .single-red-border-right{
    border-right: 4px solid #621A01;
    border-radius: 20px;
  }
  .single-author-img {
    border-radius: 100%;
    border: 4px solid #621A01;
    width: 400px;
    mix-blend-mode: luminosity;
    background-color: rgba(236, 164, 165, 0.5); /* Overlay color */
  }
  .swiper-button-prev:after, .swiper-button-next:after{
    color: #fff;
  }
  p{
    font-size: 1.2rem;
  }
  h6{
    font-size: 1.5rem;
  }
}

// site title
.site-title {
  width: 100%;
  padding: 16px 60px;
  font-size: 4.5rem;
  color: #fff;
  // transition: 0.3s ease-in-out;
  .white-line{
    width: 10%;
    border-bottom: 15px solid #fff;
    margin: 0 10px;
  }
  a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;

    p {
      margin: 0;
    }

    p:nth-of-type(2) {
      text-align: end;
      text-align-last: end;
    }
    .en{
      font-family: $en-bold;
    }
    .ar{
      font-family: $ar-bold;
    }
  }
}

// .site-title:hover {
//   color: #ffffffbb;
//   transition: 0.3s ease-in-out;
// }

// side menu
.responsive-menu-button {
  display: none;
  background: black;
  border: none;
  border-radius: 60px;
  margin: 0;
  position: absolute;
  overflow: hidden;
  // width: 80px;
  // height: 80px;
  overflow: auto;
  top: 120px;
  left: 10px;
  cursor: pointer;
  z-index: 20;
  transition: top 0.3s ease;
  border-radius: 24px;
  padding: 1rem .5rem;
  background-color: #EB4201;
  p{
    writing-mode: vertical-lr;
    text-transform: uppercase;
    color: #fff;
    font-family: $en-regular;
    font-size: 14px;
  }
  img{
    margin-top: 8px;
  }
  img {
    height: auto;
  }
}

.fixed-menu-button {
  position: fixed;
  top: 40px;
  left: 15px;
  }

.side-menu-modal {
  padding: 0 !important;
  width: 100vw;

  .modal-dialog {
    margin: 0 !important;

    .modal-content {
      width: 70%;
      background-color: transparent;
    }
    .modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 85vh;
      background-color: #ec4100cc;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      color: #fff;
      font-family: $en-regular;
      font-size: 1.5rem;
      padding: 3rem;
      text-align: center;
      top: 40px;
      left: 0;
      gap: 15px;

      button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        display: inline-block;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    .modal-header {
      border: none !important;
      padding: 1rem 0;
      .btn-close {
        opacity: 1;
        background-color: $sec_color;
        border-radius: 100%;
      }
      .btn-close:focus {
        box-shadow: none !important;
      }
    }
  }
}

// make modal different for footer
.custom-modal {
  .modal-content {
    background-color: transparent;
    border-radius: 20px;
  }
  .modal-body {
    background-color: #171717;
    border: 3px solid $sec_color;
    border-radius: 50px;
    color: #fff;
    font-family: $en-regular;
    font-size: 1.5rem;
    padding: 3rem;
    text-align: center;
  }
  .modal-header {
    border: none !important;
    padding: 1rem 0;
    .btn-close {
      opacity: 1;
      background-color: $sec_color;
      border-radius: 100%;
    }
    .btn-close:focus {
      box-shadow: none !important;
    }
  }
}

.single-article-header-button-container {
      position: absolute;
      top: 30px;
      margin: 0 25px;
      width: -moz-available;
      width: -webkit-fill-available;

      .en{
        font-family: $en-regular;
        text-transform: uppercase;
      }
      .ar{
        font-family: $ar-regular;
      }
      p{
        font-size: 1.2rem;
        margin-bottom: 0;
        color: white;
        text-align: center;
      }
      .bg-black{
        border-radius: 15px;
        background-color: #000;
        width: 100%;
        padding: 0 1.5rem;
      }
      a {
        width: 100%;
        opacity: 1;
        transition: 0.3s ease-in-out;
      }
      a:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
      img {
        opacity: 1;
        transition: 0.3s ease-in-out;
      }

      img:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
}

.single-post-featured-image {
  position: relative;
  display: block;

  img {
    display: block;
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    object-position: center center;
  }
}

.single-post-featured-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #EE420070;
  pointer-events: none;
}

.single-post-container {
  .what-we-think {
    width: 100%;
    min-height: 50px;
    line-height: 50px;
    padding: 4px 20px;
    background-color: #ed4101;
    color: #000;
    border: none;
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: 900;
    opacity: 1;
    transition: 0.3s ease-in-out;

    .english {
      float: left;
      margin-left: 40px;
    }

    .arabic {
      float: right;
      margin-right: 40px;
    }
  }

  .what-we-think:hover {
    opacity: 0.8;
    transition: 0.3s;
  }

  .category-buttons {
    justify-content: start;
    align-items: center;
    gap: 8px;

    .published-date {
      margin-top: 8px;
      color: #ed4101
    }

    button {
      padding: 0 12px;
      border: none;
      border-radius: 8px;
      opacity: 1;
      transition: 0.3s ease-in-out;
    }

    button:hover {
      opacity: 0.8;
      transition: 0.3s;
    }

    .english {
      background-color: #ed4101;
      color: #fff;
    }

    .arabic {
      background-color: #fff;
      color: #000;
    }
  }

  h1 {
    color: #fff;
  }

  .article-info {
    color: #ed4101;

    .tags {
      text-align: end;
    }
  }

  .main-content {
    color: #fff;

    .author-info {
      text-align: center;

      .author-image {
        width: 50%;
        border-radius: 100%;
        border: 5px solid #ED4101;
      }

      .author-button {
        display: inline-block;
        padding: 2px 20px;
        font-size: 15px;
        border-radius: 32px;
        text-decoration: none;
        background-color: #ed4101;
        color: #fff;
        opacity: 1;
        transition: 0.3s ease-in-out;
      }

      .author-button:hover {
        opacity: 0.8;
        transition: 0.3s;
      }

      .author-post-container {
        display: flex;
        margin: 0 auto;
        width: 95%;
        background-color: #676767;
        border-radius: 16px;
        opacity: 1;
        transition: 0.3s ease-in-out;

        .author-post-thumbnail-container {
          align-content: center;

          img {
            object-fit: cover;
            width: 100%;
            aspect-ratio: 1;
          }
        }

        .author-post-details-container {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .title {
            font-size: 12px;
          }

          .preview {
            font-size: 10px;
            line-height: 1;
          }

          small {
            font-size: 9px;
          }

          .details-container {
            display: flex;
            justify-content: space-between;
          }
        }
      }

      .author-post-container:hover {
        opacity: 0.8;
        transition: 0.3s
      }

      #single-post-load-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: none;
        background: none;
        color: #fff;
        opacity: 1;
        transition: 0.3s ease-in-out;
      }

      #single-post-load-more:hover {
        opacity: 0.8;
        transition: 0.3s;
      }
    }

    .align-text-arabic {
      p {
        text-align: justify !important;
        text-align-last: end !important;
      }
    }
  }
}

.align-text-arabic {
  text-align: justify;
  text-align-last: end;
}
.swiper-authors-block{
  .swiper-button-prev:after, .swiper-button-next:after{
    color: #fff;
  }
}