@import 'variables';
@charset "utf-8";

@media (max-width: 1550px){
	.site-title {
		font-size: 4rem;
	}
	.home-video-header-container {
		height: calc(100dvh - 138px);
	}
}
@media (max-width: 1359px){
}

@media (max-width: 1199px){
	.site-title {
		font-size: 2.5rem;
	}
	.single-author-article-swiper-section{
		.single-author-img{
			width: 300px;
		}
	}
	.message-for-editor-section{
		img{
			height: auto;
			width: 100%;
		}
	}
	//footer
	.footer-container{
		button{
			font-size: 16px;
		}
		.outer-phone {
			.inner-phone{
				p{
					font-size: 26px;
				}
				img{
					height: 40px;
				}
			}
		}
		.donate{
			.heart{
				width: 70px;
				height: 45px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	#home-video-header-container {
		display: none;
	}
	.site-title {
		font-size: 2.5rem;
		padding: 16px 10px;
		color: #87ED06;
		a{
			justify-content: space-between;
		}
		.white-line{
			width: 100%;
			border-bottom: 5px solid #fff;
			margin: 0;
		}
	}
	.single-author-article-swiper-section{
		.single-author-img{
			width: 200px;
		}
		p{
			font-size: .8rem;
			padding-top: 10px;
		}
		h6{
			text-align: center;
		}
	}
	.footer-container {
		.custom-width{
			margin-left: 0px;
		}
	}
	.social-icons-mobile{
		padding: 1rem 2rem;
		li{
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				cursor: pointer;
			}
		}
	}
	.responsive-menu-button {
		display: block;
	}
	.swiper-featured-articles-block{
		.swiper-pagination-bullet-active{
			background-color: #ec4100 !important;
		}
		.swiper-pagination-bullet{
			background-color: #D9D9D9;
			opacity: 1;
		}
	}
	.youtube-playlist-bg {
		.youtube-production-slider{
			.swiper-pagination-bullet-active{
				background-color: #ec4100 !important;
			}
			.swiper-pagination-bullet{
				background-color: #D9D9D9;
				opacity: 1;
			}
			.youtube-full-circle{
				height: 100px;
				width: 100px;
				border-radius: 100%;
				background-color: #D9D9D9;
				margin: auto;
				margin-bottom: 25px;
			}
			.view-more-btn{
				border-radius: 10px;
				background-color: #ec4100;
				color: #fff;
				font-family: $en-regular;
				text-transform: uppercase;
				padding: .3rem .6rem;
				font-size: .8rem;
			}
		}
		.custom-min-height{
			min-height: 400px;
		}
		.youtube-video-link{
			background-color: #D9D9D9;
			border-radius: 10px;
			min-height: 250px;
			justify-content: center;
			align-items: center;
			display: flex;
			.youtube-playlist-btn{
				width: 50px;
			}
		}
		h3{
		  font-size: 2.5rem;
		}
		p{
		  font-size: 1rem;
		}
	}
}

@media (max-width: 767px){
	.site-title {
		font-size: 2rem;
	}
	.message-for-editor-section{
		p{
			font-size: 1rem;
		}
	}
	.footer-container{
		button{
			font-size: 14px;
		}
		.donate{
			.heart{
				width: 65px;
			}
		}
	}
	//contact form
	.contact-us-section{
		background-color: #ec4100;
		input,
		textarea,
		label {
		  margin-bottom: 15px;
		}
		.container{
			form{
				border-radius: 40px;
				background-color: #171717;
				h4{
					font-size: 1.2rem;
					color: #ec4100;
					text-transform: uppercase;
				}
				.next-button{
					outline: none;
					border: none;
					background-color: #ec4100;
					color: #fff;
					font-family: $en-bold;
					text-align: center;
					padding: .75rem 2rem;
					width: 100%;
					margin: 0 5rem;
					border-radius: 30px;
				}
				.langs{
					button{
						border: 1px solid #ec4100;
						border-radius: 30px;
						padding: .75rem 1rem;
						font-size: 1rem;
						font-family: $en-bold;
						background-color: transparent;
						color: #fff;
					}
					button.active{
						background-color: #ec4100;
					}
				}
			}
		}
		.swiper-mobile-pagination{
			.swiper-pagination-bullet-active{
				background-color: #ec4100 !important;
			}
			.swiper-pagination-bullet{
				background-color: #D9D9D9;
				opacity: 1;
			}
		}
	}
	.custom-modal {
		.modal-body {
		  font-size: 1rem;
		}
	}
	.author-swiper-container .custom-swiper-button-prev img{
		height: 50px;
	}
	.author-swiper-container .custom-swiper-button-next img{
		height: 50px;
	}
	.single-featured-article-container{
		.right-container{
			.title{
				font-size: 2rem;
			}
		}
	}
	.youtube-playlist-bg {
		.custom-min-height{
			min-height: 300px;
		  }
		h3{
		  font-size: 1.5rem;
		}
		p{
		  font-size: .8rem;
		}
	}
}

// mobile
@media (max-width: 575px){
	.site-title {
		font-size: 1.5rem;
	}

	.single-author-article-swiper-section{
		.single-author-img{
			width: 100%;
		}
	}


	.single-article-header-button-container {
		display: none;
	}

	.single-featured-article-container {
		.title {
			font-size: 1rem !important;
		}
	}

	.message-for-editor-section{
		p{
			font-size: .8rem;
		}
	}
	.footer-container{
		button{
			font-size: 12px;
		}
		.donate{
			.heart{
				width: 55px;
			}
		}
	}
	//contact form
	.contact-us-section{
		.container{
			.next-button{
				margin: 0 2rem;
			}
		}
	}
	.custom-modal {
		.modal-body {
		  font-size: .8rem;
		}
	}
}
@media (max-width: 470px){
}

@media (max-width: 400px){
}

@media (max-width: 440px){
}

@media (max-width: 350px){
}

@media (min-width: 1390px) {
	/* change this, by default 1140px */
	.container {
		max-width: 1360px;
	}
}