@import 'variables';
@charset "utf-8";

@media (max-width: 1359px){

	}

@media (max-width: 1199px){
	.single-author-article-swiper-section{
		.single-author-img{
			width: 300px;
		}
	}
	.message-for-editor-section{
		img{
			height: auto;
			width: 100%;
		}
	}
	//footer
	.footer-container{
		button{
			font-size: 16px;
		}
		.outer-phone {
			.inner-phone{
				p{
					font-size: 26px;
				}
				img{
					height: 40px;
				}
			}
		}
		.donate{
			.heart{
				width: 70px;
				height: 45px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.single-author-article-swiper-section{
		.single-author-img{
			width: 200px;
		}
		p{
			font-size: .8rem;
			padding-top: 10px;
		}
	}
}

@media (max-width: 767px){
	.message-for-editor-section{
		p{
			font-size: 1rem;
		}
	}
	.footer-container{
		button{
			font-size: 14px;
		}
		.donate{
			.heart{
				width: 65px;
			}
		}
	}
}

// mobile
@media (max-width: 575px){
	.site-title {
		font-size: 2.5rem;
	}

	.three-featured-articles-block-container {
		display: none;
	}

	.header-button-container-without-video {
		display: none;
	}

	.single-author-article-swiper-section{
		.single-author-img{
			width: 100%;
		}
	}
	.home-video-header-container {
		display: none;
	}

	.responsive-menu-button {
		display: block;
	}

	.single-featured-article-container { 
		.title {
			font-size: 1rem !important;
		}
	}

	.message-for-editor-section{
		p{
			font-size: .8rem;
		}
	}
	.footer-container{
		button{
			font-size: 12px;
		}
		.donate{
			.heart{
				width: 55px;
			}
		}
	}
}
@media (max-width: 470px){
}

@media (max-width: 400px){
}

@media (max-width: 440px){
}

@media (max-width: 350px){
}

@media (min-width: 1390px) {
	/* change this, by default 1140px */
	.container {
		max-width: 1360px;
	}
}