@import 'variables';
@charset "utf-8";

@media (max-width: 1359px){
		#responsive-menu-button {
			display: none;
		}

		.fixed-menu-button {
			position: fixed;
			top: 40px;
			left: 15px;
		  }
	}

@media (max-width: 1199px){
	.message-for-editor-section{
		img{
			height: auto;
			width: 100%;
		}
	}
	//footer
	.footer-container{
		button{
			font-size: 16px;
		}
		.outer-phone {
			.inner-phone{
				p{
					font-size: 26px;
				}
				img{
					height: 40px;
				}
			}
		}
		.donate{
			.heart{
				width: 70px;
				height: 45px;
			}
		}
	}
}

@media screen and (max-width: 991px) {
}

@media (max-width: 767px){
	.message-for-editor-section{
		p{
			font-size: 1rem;
		}
	}
	.footer-container{
		button{
			font-size: 14px;
		}
		.donate{
			.heart{
				width: 65px;
			}
		}
	}
}

@media (max-width: 575px){
	#responsive-menu-button {
		display: block;
		background: black;
		border: none;
	 	padding: 0;
	 	border-radius: 60px;
	 	margin: 0;
	 	position: absolute;
	 	overflow: hidden;
	 	width: 80px;
	 	height: 80px;
	 	overflow: auto;
	 	top: 100px;
	 	left: 15px;
	 	cursor: pointer;
	 	z-index: 20;
	 	transition: top 0.3s ease;
	 
	 img {
		 height: auto;
	 }
	}

	.message-for-editor-section{
		p{
			font-size: .8rem;
		}
	}
	.footer-container{
		button{
			font-size: 12px;
		}
		.donate{
			.heart{
				width: 55px;
			}
		}
	}
}
@media (max-width: 470px){
}

@media (max-width: 400px){
}

@media (max-width: 440px){
}

@media (max-width: 350px){
}

@media (min-width: 1390px) {
	/* change this, by default 1140px */
	.container {
		max-width: 1360px;
	}
}